<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">1. ¿Cómo tramito crédito con Grupo Cargo Gas?</h3>
    </div>
    <div class="panel-body">
        Puede tramitar su crédito Cargo Gas al teléfono 733-6939 o bien enviar un correo a <a href="mailto:corporativo@cargogas.com">corporativo@cargogas.com</a> y uno de nuestros representantes se pondrá en contacto con usted.
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">2. ¿Grupo Cargo Gas cuenta con sistema de flotillas?</h3>
    </div>
    <div class="panel-body">
        Si, puedes revisar toda la información necesaria en la pestaña de Credito / Prepago.
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">3. ¿Cuentan con facturación las 24 horas?</h3>
    </div>
    <div class="panel-body">
        Contamos con nuestro sistema de facturación donde puedes realizar tu facturación desde tu casa o bien en cualquiera de nuestras estaciones las 24 horas.
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">4. ¿Cuentan con sistema PrePago?</h3>
    </div>
    <div class="panel-body">
        Si, puedes revisar toda la información necesaria en la pestaña de Credito / Prepago.
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">5. ¿Qué documentación necesito para tramitar el sistema de flotillas?</h3>
    </div>
    <div class="panel-body">
        <button ng-click="muestrame=false">Persona Moral</button>
        <button ng-click="muestrame=true">Persona Fisica</button>

        <!-- List group -->
        <ul class="list-group" ng-hide="muestrame">
            <li class="list-group-item">Copia de acta constitutiva.</li>
            <li class="list-group-item">Copia de un comprobante de domicilio.</li>
            <li class="list-group-item">Copia de RFC.</li>
            <li class="list-group-item">Copia de identificación oficial (INE, pasaporte).</li>
            <li class="list-group-item">Copia de estados de cuenta.</li>
            <li class="list-group-item">Solicitud de crédito**</li>
            <li class="list-group-item">Formato para revisión de buro de crédito**</li>
        </ul>

        <ul class="list-group" ng-show="muestrame">
            <li class="list-group-item">Copia de un comprobante de domicilio.</li>
            <li class="list-group-item">Copia de RFC.</li>
            <li class="list-group-item">Copia de identificación oficial (INE, pasaporte).</li>
            <li class="list-group-item">Copia de estados de cuenta.</li>
            <li class="list-group-item">Solicitud de crédito**</li>
            <li class="list-group-item">Formato para revisión de buro de crédito**</li>
        </ul>

        <p>**Documentacíon proporcionada en el corporativo</p>
    </div>
</div>