<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Sistema Prepago</h3>
    </div>
    <div class="panel-body">
        Grupo Cargo Gas te ofrece un sistema de PrePago eficaz donde puedes manejar tus consumos como flotilla, además te ofrecemos sistema de vales, código de barras o Tarjeta CargoGas.
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Vales</h3>
    </div>
    <div class="panel-body">
        Para adquirir vales es necesario acudir a nuestras oficinas ubicadas en Carretera Torreon-Matamoros Km 9.2 Col. Jose de las Fuentes en Torreón, Coahuila. Nuestros horarios de atención son de 9:00am a 14:00pm. 
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Codigo de barras o Tarjeta CargoGas</h3>
    </div>
    <div class="panel-body">
        Pendiente
    </div>
</div>